In [2]:
import pandas as pd
import numpy as np
from scipy.stats import kstest, norm
pd.set_option('display.max_columns', None)
from datetime import datetime, timedelta

# Get the current date
current_date = datetime.now().strftime('%Y-%m-%d')

# Calculate the date for df1 
df1_date = (datetime.strptime(current_date, '%Y-%m-%d') - timedelta(days=8)).strftime('%Y-%m-%d')
df1 = pd.read_csv(f'updated_dt={df1_date}.csv')
df2 = pd.read_csv(f'updated_dt={current_date}.csv')



# df1 = pd.read_csv('updated_dt=2024-06-10.csv')
# df2 = pd.read_csv('updated_dt=2024-06-18.csv')

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unified_cust_id  220 non-null    int64
 1   model_ver        220 non-null    int64
 2   prediction_val   220 non-null    int64
dtypes: int64(3)
memory usage: 5.3 KB

In [3]:
df1

     unified_cust_id  model_ver  prediction_val
0          184839662  414999135              29
1          413700531  388186335              28
2          372859334  358360987              16
3          620201688  652135950              24
4          452136963  363126806              14
..               ...        ...             ...
215        867093040  854209899              17
216        120726352  412529989              28
217        302885322  303930481              12
218        764461207  150059943              25
219        659829626  668515633              18

[220 rows x 3 columns]

In [4]:
df2

     unified_cust_id  model_ver  prediction_val
0          195129646  454430494              13
1          132735785  527771872              14
2          794275213  689971303               1
3          613607608  800580861              12
4          215107461  148856627              22
..               ...        ...             ...
215        889703805  394657602               9
216        837030647  792453464              27
217        717917983  649967053              10
218        453755121  310139191              12
219        868548721  336736519              24

[220 rows x 3 columns]

In [2]:
# Calculate the KS statistics, CSI and PSI
ks_stat, ks_pvalue = kstest(df1['prediction_val'], 'norm')
ks_stat

0.9181589589609117

In [3]:
ks_stat, ks_pvalue = kstest(df2['prediction_val'], 'norm')
ks_stat

0.8863407771427299

In [9]:
def psi(ref, curr):
    ref = norm.fit(ref)
    curr = norm.fit(curr)
    psi = np.abs(ref[0] - curr[0]) + np.abs(ref[1] - curr[1])
    return psi

# Calculate PSI
psi_value = psi(df1['prediction_val'].values, df2['prediction_val'].values)
psi_value

1.665336354069149

In [12]:
# Calculate PSI by deciles
psi_values = []
for i in range(10):
    ref_decile = df1[df1['prediction_val'].between(df1['prediction_val'].quantile(i/10), df1['prediction_val'].quantile((i+1)/10))]
    curr_decile = df2[df2['prediction_val'].between(df2['prediction_val'].quantile(i/10), df2['prediction_val'].quantile((i+1)/10))]
    psi_value = psi(ref_decile['prediction_val'].values, curr_decile['prediction_val'].values)
    psi_values.append(psi_value)

overall_psi = np.mean(psi_values)

In [13]:
print(f'PSI by deciles:')
for i in range(10):
    print(f'Decile {i+1}: {psi_values[i]}')
print(f'Overall PSI: {overall_psi}')

PSI by deciles:
Decile 1: 1.5032751975908512
Decile 2: 0.8963952297270347
Decile 3: 0.7778994884556376
Decile 4: 0.5982223874772732
Decile 5: 1.599231243347378
Decile 6: 2.4198726978628184
Decile 7: 2.143365929220825
Decile 8: 3.557516720129366
Decile 9: 2.7199520413048117
Decile 10: 0.9555490709268044
Overall PSI: 1.71712800060428